@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy w naszej restauracji!</h1> <br><br>
    <p>Jeżeli chcesz uzyskać informację na temat składników lub je edytować wejdź w zakładkę "Składniki"".</p>
    <p>Jeżeli chcesz uzyskac informację na temat produktów, które sprzedajemy w nasze restauracji wejdź w zakładkę "Menu restauracji"".</p>
    <p>Jeżeli chcesz złożyć zamówienie online, wejdź w zakładkę "Składanie zamówienia Online", jeżeli nie chcesz możesz udać się osobiście do naszej restauracji.</p>
    <p>Po złożeniu zamówenia, kliknij w ikonkę wózką, aby sfinalizować zamówienie.</p><br>
    <p style="font-size:x-large">Dziękujemy za przeczytanie ogłoszenia, prosimy zapoznać się jeszcze z regualaminem użytkowania!</p>
    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Regualmin użytkowania
    </button>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Regualmin użytkowania</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Wyrażam zgodę na przetwarzanie moich danych osobowych przez restaurację w celu finalizowania zamówień
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wyrażam zgodę</button>
                </div>
            </div>
        </div>
    </div>
</div>
